@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background: #f2f2f2;
}

h1{
  position: relative;
  text-align: center;
  text-decoration: underline;
  color: White;
  font-size: 30px;
  padding: 20px;
  margin: 10px;
}

/* Background Images */

.background-image{
  position: absolute;
  z-index: 0;
  width: 100%;
}

/* Navigation Bar */

nav{
  position: relative;
  background: #171c24;
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  z-index: 100;
  width: 100%;
}
nav .nav-items{
  display: flex;
  flex: 1;
  position: relative;
  line-height: 50px;
  top: 10px;
}
.nav-items li {
  float: left;
  list-style: none;
  padding: 0px 60px 0 50px ;
}
.nav-items .dropdown-content a{
  display:block;
  color: white;
  padding: 15px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.7s ease-in-out;
  line-height: 1;
}

.dropdown:hover .dropbtn {
  color: #14641f;
}

.nav-items li .dropdown {
  display:block;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 500px;
  height: 100%;
  padding: 0 10px 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
  text-decoration: none;
}
nav form button{
  padding: 0 15px;
  color: #fff;
  font-size: 17px;
  background: rgb(87, 161, 87);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
nav form button:hover{
  background: #14641f;
  transition: all 0.7s ease-in-out;;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #171c24;
  min-width: 210px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: white;
  padding: 25px 0 30px 0 ;
  font-weight: bold;
  text-decoration: none;
  display:inline-block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display:block;
}
.dropdown-content a i{
  margin-right: 5px;
  color: #23e629;
}
.cart i{
  margin-right: 5px;
}

nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #ff3d00;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}

.nav-items li a{
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-items li a:hover{
  background: #3A3B3C;
}

.nav-items li:hover .drop-menu,
.nav-items li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}
.mega-box{
  position: absolute;
  left: 0;

  width: 100%;
  padding: 0 30px 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(25% - 30px);
  line-height: 45px;
}
.content .row img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content .row header{
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.row .mega-links li a{
  padding: 0px;
  padding: 0 20px;
  color: white;
  font-size: 17px;
  display: block;
}
.row .mega-links li a:hover{
  color:green;
}

.checkout {
  position: relative;
	margin: 25px 75px 45px 75px;
  padding: 10px;
  background-color: rgba(155,155,155,0.4);
  border-radius: 25px;
}

.col-lg-8-col-md-6{
  padding: 30px 30px 0px 30px;
}
.col-lg-4-col-md-6{
  padding: 30px 30px 30px 30px;
}

.checkout h6 {
	color: rgba(0,0,0,0.9);
	text-align: center;
	background: transparent;
	padding: 10px;
  margin: 0 0 15px 0;
  font-size: 15px;
}

.checkout h6 span {
	font-size: 16px;
	color: white;
	margin-right: 5px;
}

.checkout h6 a {
	text-decoration: underline;
	color: white;
}

.checkout__form h4 {
	color: #FFFFFF;
	font-weight: 700;
	border-bottom: 3px solid #FFFFFF;
  padding: 30px 30px 10px 30px;
	margin-bottom: 15px;
}

.checkout__form p {
	column-rule: #b2b2b2;
}

.checkout__input {
	margin-bottom: 24px;
}

.checkout__input p {
	color: rgba(0,0,0,0.9);
	margin-bottom: 20px;
  font-weight: 600;
}

.checkout__input p span {
	color: #dd2222;
}

.checkout__input input {
	width: 100%;
	height: 46px;
	border: 1px solid #ebebeb;
	padding-left: 20px;
	font-size: 16px;
	color: #b2b2b2;
	border-radius: 4px;
}

.checkout__input input.checkout__input__add {
	margin-bottom: 20px;
}

.checkout__input input::placeholder {
	color: #b2b2b2;
}

.checkout__input__checkbox {
	margin-bottom: 10px;
}

.checkout__input__checkbox label {
	position: relative;
	font-size: 16px;
	color: #1c1c1c;
	padding-left: 40px;
	cursor: pointer;
}
.checkout__input__checkbox label input {
	position: absolute;
	visibility: hidden;
}

.checkout__input__checkbox label input:checked~.checkmark {
	background: #7fad39;
	border-color: #7fad39;
}

.checkout__input__checkbox label input:checked~.checkmark:after {
	opacity: 1;
}

.checkout__input__checkbox label .checkmark {
	position: absolute;
	left: 0;
	top: 4px;
	height: 16px;
	width: 14px;
	border: 1px solid #a6a6a6;
	content: "";
	border-radius: 4px;
}

.checkout__input__checkbox label .checkmark:after {
	position: absolute;
	left: 1px;
	top: 1px;
	width: 10px;
	height: 8px;
	border: solid white;
	border-width: 3px 3px 0px 0px;
	-webkit-transform: rotate(127deg);
	-ms-transform: rotate(127deg);
	transform: rotate(127deg);
	content: "";
	opacity: 0;
}

.checkout__order {
	background: #f5f5f5;
	padding: 40px;
	padding-top: 30px;
}

.checkout__order h4 {
	color: #1c1c1c;
	font-weight: 700;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.checkout__order .checkout__order__products {
	font-size: 18px;
	color: #1c1c1c;
	font-weight: 700;
	margin-bottom: 10px;
}

.checkout__order .checkout__order__products span {
	float: right;
}

.checkout__order ul {
	margin-bottom: 12px;
}

.checkout__order ul li {
	font-size: 16px;
	color: #6f6f6f;
	line-height: 40px;
	list-style: none;
}

.checkout__order ul li span {
	font-weight: 700;
	float: right;
}

.checkout__order .checkout__order__subtotal {
	font-size: 18px;
	color: #1c1c1c;
	font-weight: 700;
	border-bottom: 1px solid #e1e1e1;
	border-top: 1px solid #e1e1e1;
	padding-bottom: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
}

.checkout__order .checkout__order__subtotal span {
	float: right;
}

.checkout__order .checkout__input__checkbox label {
	padding-left: 20px;
}

.checkout__order .checkout__order__total {
	font-size: 18px;
	color: #1c1c1c;
	font-weight: 700;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 15px;
	margin-bottom: 25px;
}

.checkout__order .checkout__order__total span {
	float: right;
	color: #dd2222;
}

.checkout__order button {
  background-color: #14641f;
  cursor: pointer;
  color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 2px;
	width: 100%;
	margin-top: 10px;
}
input{
  padding: 5px;
}
button{
  padding: 5px;
  cursor: pointer;
}
  /*Footer Content */

  .footer-main-div{
    position: relative;
    width: 1520px;
    height: auto;
    margin: auto;
    background: #272727;
    padding: 20px 0px;
  }
  .footer-description{
    margin: auto;
    padding: 5px;
    padding: 60px 0 30px 0;
  }
  .footer-descripton h8{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: green;
    padding: 10px 0px 20px 650px;
  }
  .footer-descripton p{
    text-align:  center;
    width: 70%;
    padding: 10px 10px 20px 475px;
    font-size:13px;
    color: #fff;
  }
  .footer-social-icons{
    width: 100%;
  }
  .footer-social-icons ul{
    margin: 0px;
    padding:  15px;
    text-align: center;
  }
  .footer-social-icons ul li{
    border: grey;
    display: inline-block;
    border-radius: 50px;
    padding: 10px 30px;
    box-sizing:content-box;
    transition: all.0.3s ease-in-out;
  }
  .footer-social-icons ul li:hover{
    background-color: green;
    color: #fff;
    transition: all.0.3s ease-in-out;
  }
  .footer-social-icons ul li a{
  color: #fff;
  font-size: 20px;
  }
  .footer-social-icons ul li a i{
    line-height: 50px;
  }
  .footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
  }
  .footer-menu-one ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .footer-menu-one ul li{
    padding: 5px;
    border-radius: 5px;;
    display: inline-block;
    margin: 0px 10px;
    transition: all 0.5s ease-in-out;
  }
  .footer-menu-one ul li:hover{
    background-color: grey;
  }
  .footer-menu-one ul li a{
    font-size: 17px;
    font-weight: 600;
    color: #fff;   
    text-decoration: none;
  }
  .footer-menu-two{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
  }
  .footer-menu-two ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .footer-menu-two ul li{
    display: inline-block;
    margin: 0px 10px;
    padding: 4px;
    transition:all 0.5s ease-in-out;
    border-radius: 5px;
  }
  .footer-menu-two ul li:hover{
    background-color: grey;
  }
  .footer-menu-two ul li a{
    font-size: 15px;
    font-weight: 600;
    color: #fff;  
    text-decoration: none;
  }
  .footer-bottom{
    background: #343a40;
    font-size: 12px;
    color: #fff;
    height: 50px;
    width: 100%;
    position: relative;
    text-align: center;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;    
  }
  .Social-Links a{
    font-size: 18px;
    display: inline-block;
    background: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  .Social-Links a:hover{
    background: grey;
  }